@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
	height: 100%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sana-serif;
}

h1{
	margin-bottom: 25px;
}

p{
	margin-bottom: 15px;
}

a{
	text-decoration: none;
}

.content{
	width: 1000%;
	margin: 0 auto;
	padding-top: 32px;
}

footer{
	background: #006400;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	margin-top: auto;
}

footer li{
	list-style: none;
	display: inline-block;
	margin: 10px;
}

.footer-icons a{
	background: #ffffff;
	color: #006400;
	padding: 15px;
	border-radius: 100px;
	display: flex;
	font-size: 25px;
}

.footer-icons a:hover{
	color: #33cc00;
}

.footer-menu a{
	color: #fff;
}

.footer-menu a:hover{
	color: #33cc00;
}

.footer-copyright{
	background-color: #fff;
	color: #006400;
	padding: 15px;
	margin-top: 30px;
}

.footer-copyright p{
	margin-bottom: 0px;
}


